* {
    color: #3f3f3f;
    font-family: 'Montserrat', sans-serif !important;
}
body{
    position: relative;
}
a{
    text-decoration: none;
}
.container{
    position: absolute;
    left: 50%;
    top: 15vh;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    
}
.link{
    border: 3px solid #B7D3FE;
    background: lite-grey;
    color: #3f3f3f;
    margin-bottom: 15px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    
}
.link:hover{
    background: #B7D3FE;
    transition: 0.6s;
    color: white!important;
    text-shadow: 0 1px 10px #252525;
}
.title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 44px;
    top: -10vh;
    width: 100%;
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 1px;
}
.detail{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}