* {
    /* border-width: 2px !important;
    border-color: #3f3f3f !important; */
    color: #3f3f3f;
    font-family: 'Montserrat', sans-serif !important;
}

 /* global css */
h2 {
  margin: 16px;
}

.container {
    padding: 10px 32px 0 32px;
    position: fixed;
    z-index: 30;
    top: 0;
}

.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.select-box .options-container {
  background: #FFCCCC;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}

.selected {
  background: #FFCCCC;
  border-radius: 8px;
  margin-bottom: 8px;
  //color: #f5f6fa;
  color: #3f3f3f;
  position: relative;
  order: 0;
}

.selected::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;
  transition: all 0.4s;
}
.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background:transparent;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #B7D3FE;
  text-shadow: 0px 0.5px 3px #525151d7;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
body {
    /* margin: 0 8px; */
    max-height: 100vh;
    overflow-y: scroll;
}
.section_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Message Box Section */


.accordion_section {
    position: absolute;
    top: 0;
    margin: 3%;
    width: -webkit-fill-available;
}
#messageBox {
    position: relative;
    margin: 0;
    text-align: left;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    width: 40%;
}
.menuSteps {
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin-bottom: 25px;
    border: 2px solid #3f3f3f;
}

          /* animation */




        /* Message Box Section End */


        /* Flow Chart Section */
.flow_chart {
    transform: scale(.5);
    position: fixed;
}
#flowchart_img {
    position: absolute;
    /*left: -238px;
    top: -135px;
    height: 1260px;
    width: 1145px;*/
    left: 30px;
    top: 3px;
    height: 1088px;
}
.animatable_chart {
    z-index: 15;
}
.BgBlue {
    background: #fff;
    //border: 1px solid;
    //background: #B7D3FE;
    border: none!important;
}
.BgPink {
    //background: #FFCCCC;

    //border: 1px solid;
    //background: #FFB4B4;

    background: #B7D3FE;
}
.BgDpPink {
    //background: #FF33CC;
    //background: #F5c725;

    //background: #FF9292;

    //background: #8abee6;

    background: #96c0ff;
}
.hide {
    background: transparent!important;
    color: transparent!important;
}

        /* right side bar----step one */

.arrow_dwn1 {
    position: absolute;
    left: 525px;
    top: 1025px;
    height: 60px;
    width: 70px;
    transform: rotate(-90deg);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.r_bb7 {
    position: absolute;
    left: 416px;
    top: 981.5px;
    height: 40px;
    width: 275px;
    border: 1px solid;
    font-size: 18px;
    font-weight: 600;
}
.data_in_arrow {
    position: absolute;
    left: 575px;
    top: 902px;
    height: 65px;
    width: 95px;
    transform: rotate(-90deg);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.r4 h2 {
    position: relative;
    top: 300px;
    font-size: 20px;
}

.r4 {
    position:absolute;
    left:525px ;
    top: 75px;
    text-align: center;
    width: 165px;
    height: 807px;
    border: 1px solid;
    line-height: 2.3;
    z-index: 1;
}
.row_4_arrow {
    position: absolute;
    top: 5px;
    left:579.5px;
    height: 70px;
    width: 70px;
    transform: rotate(-360deg);
    clip-path: polygon(47.00% 0.00%, 82.00% 20.00%, 66.00% 20.00%, 67.00% 70.00%, 83.00% 70.00%, 47.00% 95.00%, 12.00% 71.00%, 27.00% 70.00%, 27.00% 21.00%, 13.00% 21.00%);

}
.Control {
    position: absolute;
    left: 495px;
    top: 15px;
    font-size: 20px;
    font-weight: 550;
}
.text_bottom {
    position: absolute;
    left: 365px;
    top: 1060px;
    font-size: 20px;
    font-weight: 550;
}
.text_top {
    position: absolute;
    left: 140px;
    top: 15px;
    font-size: 20px;
    font-weight: 550;
}


  /* middle secton---- */
  /* ----step two and three--- */
  .upper_arrow_f {
    position: absolute;
    left: 216px;
    top: 10px;
    height: 59px;
    width: 70px;
    transform: rotate(90deg);
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    position: absolute;
  }
/* -----input boxes---  */
.r_bb1 {
    position: absolute;
    top: 75px;
    left: 110px;
    width: 275px;
    height: 55px;
    font-size: 18px;
    border: 1px solid;
    font-weight: 600;
    z-index: 10;
}
.r_bb2 {
    position: absolute;
    top: 170px;
    left: 250px;
    width: 135px;
    height: 55px;
    font-size: 18px;
    border: 1px solid;
    font-weight: 600;
    z-index: 10;
}
.r_bb3 {
    position: absolute;
    top: 270px;
    left: 110px;
    width: 275px;
    height: 140px;
    font-size: 20px;
    border: 1px solid;
    font-weight: 600;
    z-index: 10;
}
.r_bb4 {
    position: absolute;
    top: 485px;
    left: 245px;
    width: 140px;
    height: 60px;
    font-size: 15px;
    border: 1px solid;
    font-weight: 600;
}
.r_bb4_4 {
    position: absolute;
    top: 640px;
    left:220px ;
    width: 165px;
    height: 70px;
    clip-path: polygon(14% 0%, 100% 0%, 86% 100%, 0% 100%);
    font-size: 18px;
    font-weight: 600;
    border: 1px solid;
}
.r_bb5 {
    position: absolute;
    top: 760px;
    left: 110px;
    width: 275px;
    height: 70px;
    /* -webkit-clip-path: polygon(50% 25%, 60% 1%, 100% 0, 88% 100%, 12% 100%, 0 0, 40% 0); */
    clip-path: polygon(50% 25%, 60% 1%, 100% 0, 88% 100%, 12% 100%, 0 0, 40% 0);
    border: 1px solid;
    font-size: 20px;
    font-weight: 600;
    z-index: 10;
}
.r_bb6 {
    position: absolute;
    top: 980px;
    left: 110px;
    width: 275px;
    height: 40px;
    border: 1px solid;
    font-size: 18px;
    font-weight: 600;
    z-index: 10;
    
}

/* ------straight lines and arrow shapee------ */
.arrow_dwn10 {
    position: absolute;
    left: 423px;
    height: 60px;
    top: 929px;
    width: 42px;
    transform: rotate(-90deg);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.upper_arrow {
    position: absolute;
    top: 125px; 
    left: 295px;
    height: 50px;
    width: 40px;
    transform: rotate(90deg);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.lower_arrow1 {
    position: absolute;
    top: 170px;
    left: 100px;
    height: 60px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.lower_arrow1 p {
    line-height: 1.5;
    font-weight: 700;
    writing-mode: tb;
    position: relative;
    left: -45px;
}
.abus_straitline {
    position: absolute;
    top: 410px;
    height: 300px;
    left: 153px;
    width: 34px;

}
.bank_arrow_2 {
    position: absolute;
    top: 695px;
    width: 70px;
    left: 135px;
    height: 57px;
    //width: 350px;
    transform: rotate(90deg);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}



.abus_straitline p {
    line-height: 1.7;
    font-weight: 700;
    position: relative;
    top: 100px;
    left: 10px;
}
.r_bb56_arrow {
    position: absolute;
    top: 485px;
    left: 185px;
    width: 60px;
    height: 60px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    transform: rotate(360deg);
    z-index: -1;
    
}
.r_bb4_arrow {
    position: absolute;
    top: 703px;
    width: 57px;
    left: 280px;
    height: 55px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    transform: rotate(90deg);
    z-index: -1;
}
.StraitLine {
    position: absolute;
    top: 410px;
    height: 50px;
    left: 305px;
    width: 30px;
}
.StraitLine_Arrow {
    position: absolute;
    top: 420px;
    height: 60px;
    left: 305px;
    width: 125px;
    transform: rotate(360deg);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.clip_4in {
    position: absolute;
    top: 85.9px;
    height: 228.1px;
    left: 440px;
    width: 30px;
}
.clip_4innnn {
    position: absolute;
    top: 185px;
    height: 129px;
    left: 440px;
    width: 30px;
}
.right_bar {
    position: absolute;
    top: 73px;
    height: 55px;
    left: 385px;
    width: 84px;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}
.right_bar_1 {
    position: absolute;
    top: 270px;
    height: 55px;
    left: 385px;
    width: 84px;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}
.right_bar_1>span {
    position: relative;
    top: 13px;
    right: -30px;
    font-size: 20px;
    font-weight: 550;
}
.f_c_t{
    position: absolute;
    top: 185px;
    height: 25px;
    left: 385px;
    width: 84px;
}
/* ------B Bus straigt line and arrow----- */


.clip_4inn {
    position: absolute;
    top: 420px;
    left: 430px;
    height: 180px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.clip_4innn {
    position: absolute;
    top: 570px;
    left: 430px;
    height: 367px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clip_4innn_overlap {
    position: absolute;
    top: 570px;
    left: 430px;
    height: 367px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clip_4innn p {
    line-height: 1.7;
    font-weight: 700;
    position: relative;
    top: -10px;
    
}
.clip_4inn_arm {
    position: absolute;
    top: 910px;
    left: 243.001px;
    width: 217px;
    height: 28px;
    z-index: -1;
    
}
.clip_4inn_arrow {
    position: absolute;
    top: 925px;
    left: 240px;
    height: 65px;
    width: 45px;
    transform: rotate(90deg);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.right_bar_22 {
    position: absolute;
    top: 570px;
    left: 290px;
    width: 155px;
    height: 30px;
    z-index: -2;
}
.right_bar_22_overlap {
    position: absolute;
    top: 570px;
    left: 290px;
    width: 155px;
    height: 30px;
    z-index: -2;
}
.r_bb44_arrow {
    position: absolute;
    top: 577.5px;
    left: 271px;
    width: 70px;
    height: 55px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    transform: rotate(90deg);
    z-index: -10;
}



/* -----arrow down .....out----- */
.arrow_dwn {
    position: absolute;
    top: 1022px;
    left: 228px;
    height: 65px;
    width: 70px;
    transform: rotate(90deg);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
/*........Left Section........*/
.alu_arrow {
    position: absolute;
    top: 830px;
    height: 65px;
    left: 236px;
    width: 35px;
}
.alu_arrow1 {
    position: absolute;
    top: 855px;
    height: 40px;
    left: 30px;
    width: 240px;
}
.alu_arrow_overlap {
    position: absolute;
    top: 830px;
    height: 65px;
    left: 235px;
    width: 35px;
}
.alu_arrow1_overlap {
    position: absolute;
    top: 855px;
    height: 40px;
    left: 30px;
    width: 240px;
}
.cl_path_1 {
    position: absolute;
    top: 75px;
    height: 55px;
    left: 30px;
    width: 80px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.left_strait_line {
    position: absolute;
}
.cl_path_2 {
    position: absolute;
    top: 310px;
    height: 60px;
    left: 30px;
    width: 80px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.left_strait_line_1 {
    position: absolute;
    top: 90px;
    height: 265px;
    left: 30px;
    width: 30px;
}
.left_strait_line_2 {
    position: absolute;
    top: 325px;
    height: 570px;
    left: 31px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_strait_line_2_overlap {
    position: absolute;
    top: 325px;
    height: 570px;
    left: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alu {
    padding: 0 10px;
    position: absolute;
    font-weight: 700;
}
.alu_overlap {
    padding: 0 10px;
    position: absolute;
    font-weight: 700;
}

        /* Flow Chart Section End */
/*ROW 2 Buttons*/
.btns {
    position: fixed;
    top: 95vh;
    z-index: 20;
    margin-left: 5%;
    width: fit-content;
    left: 50%;
}


.btnForm {
    border: 3px solid #B7D3FE;
    background: lite-grey;
    color: #252525;
    margin-bottom: 15px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
}
.btns .r2_form input:not(:last-child){
    margin-right: 20px;
}
.btnForm:hover{
    background: #B7D3FE;
    transition: 0.3s;
    color: white!important;
    text-shadow: 2px 2px 5px #252525;
}


            /* pop up message section */
.none {
    display: none;
}

.register_bank{
    /* display: none; */
    position: absolute;
    top: 385px;
    left: 340px;
    border-radius: 15px;
    width: 30vw;
    padding: 0px 10px;
    background: #B7D3FE;
    border: 2px solid #B7D3FE;
    font-size: 18px;
    color: #3f3f3f;
    animation-name: tada;
    animation-duration: 1.5s;
    transition: all 0.5s ease;
}

.register_bank:hover{
    box-shadow: 5px 5px 15px #6c6f74;
    transform: scale(1.1);
    /* transition: ease-in-out; */
}
.ALU{
    position: absolute;
    top: 760px;
    left: 312px;
    border-radius: 15px;
    width: 30vw;
    padding: 0px 10px;
    background: #B7D3FE;
    border: 2px solid #B7D3FE;
    font-size: 18px;
    color: #3f3f3f;
    animation-name: tada;
    animation-duration: 1.5s;
    transition: all 0.5s ease;
}
.ALU:hover{
    box-shadow: 5px 5px 15px #6c6f74;
    transform: scale(1.1);
}
.barrel-shifter{
    position: absolute;
    top: 655px;
    left: 320px;
    border-radius: 15px;
    width: 30vw;
    padding: 0px 10px;
    background: #B7D3FE;
    border: 2px solid #B7D3FE;
    font-size: 18px;
    color: #3f3f3f;
    animation-name: tada;
    animation-duration: 1.5s;
    transition: all 0.5s ease;
}
.barrel-shifter:hover{
    box-shadow: 5px 5px 15px #6c6f74;
    transform: scale(1.1);
}
.address-register{
    position: absolute;
    top: 125px;
    left: 345px;
    border-radius: 15px;
    width: 30vw;
    padding: 0px 10px;
    background: #B7D3FE;
    border: 2px solid #B7D3FE;
    font-size: 18px;
    color: #3f3f3f;
    animation-name: tada;
    animation-duration: 1.5s;
    transition: all 0.5s ease;
}
.address-register:hover{
    box-shadow: 5px 5px 15px #6c6f74;
    transform: scale(1.1);
}
.incrementer{
    position: absolute;
    top: 210px;
    left: 348px;
    border-radius: 15px;
    width: 30vw;
    padding: 0px 10px;
    background: #B7D3FE;
    border: 2px solid #B7D3FE;
    font-size: 18px;
    color: #3f3f3f;
    animation-name: tada;
    animation-duration: 1.5s;
    transition: all 0.5s ease;
}
.incrementer:hover{
    box-shadow: 5px 5px 15px #6c6f74;
    transform: scale(1.1);
}
.data-out{
    position: absolute;
    top: 940px;
    left: 280px;
    border-radius: 15px;
    width: 30vw;
    padding: 0px 10px;
    background: #B7D3FE;
    border: 2px solid #B7D3FE;
    font-size: 18px;
    color: #3f3f3f;
    animation-name: tada;
    animation-duration: 1.5s;
    transition: all 0.5s ease;
}
.data-out:hover{
    box-shadow: 5px 5px 15px #6c6f74;
    transform: scale(1.1);
}
.data-in{
    position: absolute;
    top: 940px;
    left: 300px;
    border-radius: 15px;
    width: 30vw;
    padding: 0px 10px;
    background: #B7D3FE;
    border: 2px solid #B7D3FE;
    font-size: 18px;
    color: #3f3f3f;
    animation-name: tada;
    animation-duration: 1.5s;
    transition: all 0.5s ease;
}
.data-in:hover{
    box-shadow: 5px 5px 15px #6c6f74;
    transform: scale(1.1);
}
.instruction-decode{
    position: absolute;
    top: 500px;
    left: 300px;
    border-radius: 15px;
    width: 30vw;
    padding: 10px;
    background: #B7D3FE;
    border: 2px solid #B7D3FE;
    font-size: 18px;
    color: #3f3f3f;
    animation-name: tada;
    animation-duration: 1.5s;
    transition: all 0.5s ease;
}
.instruction-decode:hover{
    box-shadow: 5px 5px 15px #6c6f74;
    transform: scale(1.1);
}





                /* animation */


@keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  
    100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes tada {
    0% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    10%, 20% {
      -webkit-transform: scale(0.9) rotate(-3deg);
      -ms-transform: scale(0.9) rotate(-3deg);
      transform: scale(0.9) rotate(-3deg);
    }
  
    30%, 50%, 70%, 90% {
      -webkit-transform: scale(1.1) rotate(3deg);
      -ms-transform: scale(1.1) rotate(3deg);
      transform: scale(1.1) rotate(3deg);
    }
  
    40%, 60%, 80% {
      -webkit-transform: scale(1.1) rotate(-3deg);
      -ms-transform: scale(1.1) rotate(-3deg);
      transform: scale(1.1) rotate(-3deg);
    }
  
    100% {
      -webkit-transform: scale(1) rotate(0);
      -ms-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
    }
  }




/*END ROW 2 BUTTONS*/



        @media (max-width:1999px){
            .btns {
                top: 90vh;
                left: 45%;
            }
            #messageBox{
                font-size: 12px;
            }
            .menuSteps{
                padding: 10px;
            }
            .accordion_section{
                margin: 1%;
            }
            .btnForm {
                font-size: 12px;
                padding: 5px 15px;
            }
            .btns .r2_form input:not(:last-child) {
                margin-right: 10px;
            }
        } 
        @media (min-width: 2000px){
            .flow_chart {
                transform: scale(1.2);
            }
        }