* {
  /* border-width: 2px !important;
    border-color: #3f3f3f !important; */
  color: #3f3f3f;
  font-family: 'Montserrat', sans-serif !important;
}

/* global css */
h2 {
  margin: 16px;
}
.title {
  position: fixed;
  background: white;
  top: 0;
  padding-top: 1%;
  left: 2%;
  margin: 0;
  font-size: 25px;
  width: 55%;
  z-index: 29;
}

.shader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 30;
  background: black;
  opacity: 70%;
}

body {
  margin-top: 40px;
  margin-left: 22%;
  max-height: 100vh;
  overflow-x: hidden;
}
.section_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Message Box Section */

.accordion_section {
  position: absolute;
  top: 0;
  margin: 5%;
  width: -webkit-fill-available;
}
#messageBox {
  top: 0;
  position: absolute;
  margin: 0;
  text-align: left;
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  width: 37%;
}
.msgBoxBg {
  position: relative;
  margin: 0;
  width: 40%;
  z-index: 35;
  height: 1000px;
}
.menuSteps {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #3f3f3f;
}

/* animation */

/* Message Box Section End */

/* Flow Chart Section */
.flow_chart {
  transform: scale(0.65);
  position: fixed;
  left: 56%;
  z-index: 15;
}
.flow_chart:last-child {
  z-index: 55;
}
#flowchart_img {
  position: absolute;
  /*left: -238px;
    top: -135px;
    height: 1260px;
    width: 1145px;*/
  left: 30px;
  top: 3px;
  height: 1088px;
}
.animatable_chart {
  z-index: 16;
}
.BgWhite {
  background: #fff !important;
  border: 1px solid !important;
  z-index: 40 !important;
}
.BgBlue {
  background: #b7d3fe!important;
}
.BgPink {
  background: #b7d3fe;
}
.BgDpPink {
  background: #96c0ff;
}
.hide {
  background: transparent;
  color: transparent;
  border: none!important;
}
.hideImportant {
  background: transparent !important;
  color: transparent !important;
  border: none !important;
}

/* right side bar----step one */

.arrow_dwn1 {
  position: absolute;
  left: 523px;
  top: 1024px;
  height: 66px;
  width: 73px;
  z-index: -1;
  transform: rotate(-90deg);
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
.r_bb7 {
  position: absolute;
  left: 415px;
  top: 981.5px;
  height: 40px;
  width: 277px;
  border: 1px solid;
  font-size: 18px;
  font-weight: 600;
}
.data_in_arrow {
  position: absolute;
  left: 575.5px;
  top: 901px;
  height: 67px;
  width: 95px;
  transform: rotate(-90deg);
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
.r4 h2 {
  position: relative;
  top: 300px;
  font-size: 20px;
}

.r4 {
  position: absolute;
  left: 524px;
  top: 70px;
  text-align: center;
  width: 166px;
  height: 815px;
  border: 1px solid;
  line-height: 2.3;
  z-index: 1;
}
.row_4_arrow {
  position: absolute;
  top: 3px;
  left: 579px;
  height: 71px;
  width: 72px;
  transform: rotate(-360deg);
  clip-path: polygon(
    47% 0%,
    82% 20%,
    66% 20%,
    67% 70%,
    83% 70%,
    47% 95%,
    12% 71%,
    27% 70%,
    27% 21%,
    13% 21%
  );
}
.Control {
  position: absolute;
  left: 496px;
  top: 15px;
  font-size: 20px;
  font-weight: 550;
}
.text_bottom {
  position: absolute;
  left: 366px;
  top: 1061px;
  font-size: 20px;
  font-weight: 550;
}
.text_top {
  position: absolute;
  left: 141px;
  top: 15px;
  font-size: 20px;
  font-weight: 550;
}

/* middle secton---- */
/* ----step two and three--- */
.upper_arrow_f {
  position: absolute;
  left: 212px;
  top: 8px;
  height: 65px;
  width: 77px;
  transform: rotate(90deg);
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
  position: absolute;
  /*! z-index: ; */
}
/* -----input boxes---  */
.r_bb1 {
  position: absolute;
  top: 72px;
  left: 110px;
  width: 275px;
  height: 56px;
  font-size: 18px;
  border: 1px solid;
  font-weight: 600;
  z-index: 10;
}
.r_bb2 {
  position: absolute;
  top: 168px;
  left: 250px;
  width: 135px;
  height: 57px;
  font-size: 18px;
  border: 1px solid;
  font-weight: 600;
  z-index: 10;
}
.r_bb3 {
  position: absolute;
  top: 269px;
  left: 110px;
  width: 275px;
  height: 141px;
  font-size: 20px;
  border: 1px solid;
  font-weight: 600;
  z-index: 10;
}
.r_bb4 {
  position: absolute;
  top: 485px;
  left: 245px;
  width: 140px;
  height: 60px;
  font-size: 15px;
  border: 1px solid;
  font-weight: 600;
}
.r_bb4_4 {
  position: absolute;
  top: 641px;
  left: 220px;
  width: 167px;
  height: 72px;
  clip-path: polygon(14% 0%, 100% 0%, 86% 100%, 0% 100%);
  font-size: 18px;
  font-weight: 600;
  border: none;
}
.r_bb5 {
  position: absolute;
  top: 760px;
  left: 109px;
  width: 278px;
  height: 72px;
  /* -webkit-clip-path: polygon(50% 25%, 60% 1%, 100% 0, 88% 100%, 12% 100%, 0 0, 40% 0); */
  clip-path: polygon(50% 25%, 60% 1%, 100% 0, 88% 100%, 12% 100%, 0 0, 40% 0);
  border: none;
  font-size: 20px;
  font-weight: 600;
  z-index: 10;
}
.r_bb6 {
  position: absolute;
  top: 982px;
  left: 110px;
  width: 275px;
  height: 40px;
  border: 1px solid;
  font-size: 18px;
  font-weight: 600;
  z-index: 10;
}

/* ------straight lines and arrow shapee------ */
.arrow_dwn10 {
  position: absolute;
  left: 420px;
  height: 64px;
  top: 931px;
  width: 50px;
  z-index: -1;
  transform: rotate(-90deg);
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
.upper_arrow {
  position: absolute;
  top: 122px;
  left: 294px;
  height: 52px;
  width: 44px;
  transform: rotate(90deg);
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
.lower_arrow1 {
  position: absolute;
  top: 172px;
  left: 94px;
  height: 63px;
  width: 152px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
.lower_arrow1 p {
  line-height: 1.5;
  font-weight: 700;
  writing-mode: tb;
  position: relative;
  left: -45px;
}
.abus_straitline {
  position: absolute;
  top: 410px;
  height: 300px;
  left: 151px;
  width: 36px;
}
.bank_arrow_2 {
  position: absolute;
  top: 694px;
  width: 76px;
  left: 131px;
  height: 60px;
  transform: rotate(90deg);
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abus_straitline p {
  line-height: 1.7;
  font-weight: 700;
  position: relative;
  top: 100px;
  left: 10px;
}
.r_bb56_arrow {
  position: absolute;
  top: 485px;
  left: 185px;
  width: 60px;
  height: 60px;
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
  transform: rotate(360deg);
  z-index: -1;
}
.r_bb4_arrow {
  position: absolute;
  top: 703px;
  width: 60px;
  left: 280px;
  height: 60px;
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
  transform: rotate(90deg);
  z-index: -1;
}
.StraitLine {
  position: absolute;
  top: 410px;
  height: 50px;
  left: 305px;
  width: 31px;
}
.StraitLine_Arrow {
  position: absolute;
  top: 420px;
  height: 60px;
  left: 305px;
  width: 125px;
  transform: rotate(360deg);
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
.clip_4in {
  position: absolute;
  top: 85.9px;
  height: 228.1px;
  left: 439px;
  width: 31px;
}
.clip_4innnn {
  position: absolute;
  top: 184px;
  height: 129px;
  left: 439px;
  width: 31px;
}
.right_bar {
  position: absolute;
  top: 72px;
  height: 57px;
  left: 384px;
  width: 86px;
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
}
.right_bar_1 {
  position: absolute;
  top: 268px;
  height: 58px;
  left: 384px;
  width: 86px;
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
}
.right_bar_1 > span {
  position: relative;
  top: 13px;
  right: -30px;
  font-size: 20px;
  font-weight: 550;
}
.f_c_t {
  position: absolute;
  top: 184px;
  height: 26px;
  left: 385px;
  width: 84px;
}
/* ------B Bus straigt line and arrow----- */

.clip_4inn {
  position: absolute;
  top: 421px;
  left: 430px;
  height: 180px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.clip_4innn {
  position: absolute;
  top: 570px;
  left: 430px;
  height: 370px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clip_4innn_overlap {
  position: absolute;
  top: 570px;
  left: 430px;
  height: 370px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clip_4innn p {
  line-height: 1.7;
  font-weight: 700;
  position: relative;
  top: -10px;
}
.clip_4innn_overlap p {
  line-height: 1.7;
  font-weight: 700;
  position: relative;
  top: -10px;
}
.clip_4inn_arm {
  position: absolute;
  top: 910px;
  left: 243.001px;
  width: 217px;
  height: 30px;
  z-index: -1;
}
.clip_4inn_arrow {
  position: absolute;
  top: 925px;
  left: 240px;
  height: 68px;
  width: 47px;
  transform: rotate(90deg);
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
.right_bar_22 {
  position: absolute;
  top: 570px;
  left: 290px;
  width: 155px;
  height: 31px;
  z-index: -2;
}
.right_bar_22_overlap {
  position: absolute;
  top: 571px;
  left: 290px;
  width: 156px;
  height: 30px;
  z-index: -2;
}
.r_bb44_arrow {
  position: absolute;
  top: 576px;
  left: 271px;
  width: 72px;
  height: 61px;
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
  transform: rotate(90deg);
  z-index: -10;
}

/* -----arrow down .....out----- */
.arrow_dwn {
  position: absolute;
  top: 1024px;
  left: 227px;
  height: 68px;
  width: 72px;
  transform: rotate(90deg);
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
/*........Left Section........*/
.alu_arrow {
  position: absolute;
  top: 830px;
  height: 65px;
  left: 235px;
  width: 37px;
}
.alu_arrow1 {
  position: absolute;
  top: 857px;
  height: 40px;
  left: 30px;
  width: 242px;
}
.alu_arrow_overlap {
  position: absolute;
  top: 830px;
  height: 65px;
  left: 235px;
  width: 37px;
}
.alu_arrow1_overlap {
  position: absolute;
  top: 857px;
  height: 40px;
  left: 30px;
  width: 242px;
}
.cl_path_1 {
  position: absolute;
  top: 71px;
  height: 59px;
  left: 30px;
  width: 80px;
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
.left_strait_line {
  position: absolute;
}
.cl_path_2 {
  position: absolute;
  top: 310px;
  height: 60px;
  left: 30px;
  width: 80px;
  z-index: 1;
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
.left_strait_line_1 {
  position: absolute;
  top: 85px;
  height: 265px;
  left: 30px;
  width: 31px;
}
.left_strait_line_2 {
  position: absolute;
  top: 325px;
  height: 570px;
  left: 30px;
  width: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_strait_line_2_overlap {
  position: absolute;
  top: 325px;
  height: 570px;
  left: 30px;
  width: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alu {
  padding: 0 10px;
  position: absolute;
  font-weight: 700;
}
.alu_overlap {
  padding: 0 10px;
  position: absolute;
  font-weight: 700;
}

/* Flow Chart Section End */
/*ROW 2 Buttons*/
.btns {
  position: absolute;
  top: 1150px;
  z-index: 20;
  left: 10px;
  width: max-content;
}

.btnForm {
  border: 2px solid #b7d3fe;
  background: #eeecec;
  color: #252525;
  margin-bottom: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  font-size: 22px;
  padding: 10px 30px;
}
.btns input {
  margin-right: 10px;
}
.btnForm:hover {
  background: #b7d3fe;
  transition: 0.3s;
  color: white;
  text-shadow: 2px 2px 5px #252525;
}
.speed {
  margin-right: 10px;
}
.speed_btn {
  display: grid;
  position: absolute;
  bottom: 84px;
  left: 656px;
}
.speed_btn .btnForm {
  margin-bottom: -22px;
  font-size: 16px;
  /* border-radius: 2px; */
  border: 1px solid #c7c7c7f2;
  border: none;
  /* background: #edf2f3d1; */
}
.speed_btn .btnForm:nth-child(3) {
  margin-bottom: -10px;
}

/* pop up message section */
.none {
  display: none !important;
}

.msgPop {
  z-index: 40;
  font-size: 20px;
}

.register_bank {
  top: 415px;
  position: absolute;
  left: 60px;
  border-radius: 15px;
  width: 20vw;
  padding: 0px 10px;
  background: #dcdcdc;
  border: 2px solid #d3d3d3;
  color: #3f3f3f;
}

.register_bank:hover {
  box-shadow: 5px 5px 15px #d3d3d3;
  transform: scale(1.1);
}
.ALU {
  top: 840px;
  position: absolute;
  left: 60px;
  border-radius: 15px;
  width: 20vw;
  padding: 0px 10px;
  background: #dcdcdc;
  border: 2px solid #d3d3d3;
  color: #3f3f3f;
}
.ALU:hover {
  box-shadow: 5px 5px 15px #d3d3d3;
  transform: scale(1.1);
}
.barrel-shifter {
  top: 720px;
  position: absolute;
  left: 60px;
  border-radius: 15px;
  width: 20vw;
  padding: 0px 10px;
  background: #dcdcdc;
  border: 2px solid #d3d3d3;
  color: #3f3f3f;
}
.barrel-shifter:hover {
  box-shadow: 5px 5px 15px #d3d3d3;
  transform: scale(1.1);
}
.address-register {
  top: 140px;
  position: absolute;
  left: 60px;
  border-radius: 15px;
  width: 20vw;
  padding: 0px 10px;
  background: #dcdcdc;
  border: 2px solid #d3d3d3;
  color: #3f3f3f;
}
.address-register:hover {
  box-shadow: 5px 5px 15px #d3d3d3;
  transform: scale(1.1);
}
.incrementer {
  top: 240px;
  position: absolute;
  left: 60px;
  border-radius: 15px;
  width: 20vw;
  padding: 0px 10px;
  background: #dcdcdc;
  border: 2px solid #d3d3d3;
  color: #3f3f3f;
}
.incrementer:hover {
  box-shadow: 5px 5px 15px #d3d3d3;
  transform: scale(1.1);
}
.data-out {
  bottom: -960px;
  position: absolute;
  left: 60px;
  border-radius: 15px;
  width: 20vw;
  padding: 0px 10px;
  background: #dcdcdc;
  border: 2px solid #d3d3d3;
  color: #3f3f3f;
}
.data-out:hover {
  box-shadow: 5px 5px 15px #d3d3d3;
  transform: scale(1.1);
}
.data-in {
  bottom: -960px;
  position: absolute;
  left: 245px;
  border-radius: 15px;
  width: 20vw;
  padding: 0px 10px;
  background: #dcdcdc;
  border: 2px solid #d3d3d3;
  color: #3f3f3f;
}
.data-in:hover {
  box-shadow: 5px 5px 15px #d3d3d3;
  transform: scale(1.1);
}
.instruction-decode {
  top: 525px;
  position: absolute;
  left: 360px;
  border-radius: 15px;
  width: 20vw;
  padding: 10px;
  background: #dcdcdc;
  border: 2px solid #d3d3d3;
  color: #3f3f3f;
}
.instruction-decode:hover {
  box-shadow: 5px 5px 15px #d3d3d3;
  transform: scale(1.1);
}
.a31 {
  top: 50px;
  position: absolute;
  left: 60px;
  border-radius: 15px;
  width: 20vw;
  padding: 10px;
  background: #dcdcdc;
  border: 2px solid #d3d3d3;
  color: #3f3f3f;
}
.a31:hover {
  box-shadow: 5px 5px 15px #d3d3d3;
  transform: scale(1.1);
}
.d31 {
  bottom: -1050px;
  position: absolute;
  left: 250px;
  border-radius: 15px;
  width: 20vw;
  padding: 10px;
  background: #dcdcdc;
  border: 2px solid #d3d3d3;
  color: #3f3f3f;
}
.d31:hover {
  box-shadow: 5px 5px 15px #d3d3d3;
  transform: scale(1.1);
}
/* tour */

.help-icn {
  width: 16px;
  cursor: pointer;
}
.icn-txt {
  border-radius: 5px;
  height: 250px;
  width: 500px;
  text-align: center;
  position: absolute;
  top: 532px;
  left: -405px;
  background: #f1ededf0;
  box-shadow: 3px 2px 15px #252525;
  z-index: 2000;
}
button {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #f1ededf0;
  color: #3f3f3f;
  padding: 5px 15px;
  z-index: 2000;
}
button:hover {
  background: rgb(228, 227, 227);
  color: #10d7f1f8;
  transition-duration: 0.8s;
}
h1 {
  font-weight: 600;
  font-size: 24px;
  padding: 10px 20px;
  color: #3f3f3f;
  line-height: 30px;
  margin-top: 40px;
}
.invisible-btn-txt h1 {
  margin-top: 5px;
  font-size: 23px;
}

.next1 {
  position: absolute;
  top: 75%;
  left: 75%;
}
.back {
  position: absolute;
  top: 75%;
  left: 58%;
}
.information-btn-txt .back {
  left: 20%;
}
.dismiss {
  position: absolute;
  top: 75%;
  left: 8%;
  color: grey;
}
.finish {
  left: 50%;
}
.dismiss:hover {
  color: #3f3f3f;
}
.pipeline-txt {
  border-radius: 5px;
  height: 250px;
  width: 500px;
  text-align: center;
  position: absolute;
  top: 435px;
  left: -535px;
  background: #f1ededf0;
  box-shadow: 3px 2px 15px #252525;
  z-index: 2000;
}
/* .pipeline-txt p{
    font-size: 14px;
    padding: 18px;
    color: grey;
    line-height: 20px;
} */
.ARM-txt {
  border-radius: 5px;
  height: 250px;
  width: 500px;
  text-align: center;
  position: absolute;
  top: 435px;
  left: -30px;
  background: #f1ededf0;
  box-shadow: 3px 2px 15px #252525;
  z-index: 2000;
}
.run-btn-txt {
  border-radius: 5px;
  height: 250px;
  width: 500px;
  text-align: center;
  position: absolute;
  bottom: -1128px;
  left: -255px;
  background: #f1ededf0;
  box-shadow: 3px 2px 15px #252525;
  z-index: 2000;
}
.step-btn-txt {
  border-radius: 5px;
  height: 250px;
  width: 500px;
  text-align: center;
  position: absolute;
  bottom: -1128px;
  left: -130px;
  background: #f1ededf0;
  box-shadow: 3px 2px 15px #252525;
  z-index: 2000;
}
.previous-btn-txt {
  border-radius: 5px;
  height: 250px;
  width: 500px;
  text-align: center;
  position: absolute;
  bottom: -1128px;
  left: 0px;
  background: #f1ededf0;
  box-shadow: 3px 2px 15px #252525;
  z-index: 2000;
}
.invisible-btn-txt {
  border-radius: 5px;
  height: 250px;
  width: 500px;
  text-align: center;
  position: absolute;
  bottom: -1128px;
  left: 185px;
  background: #f1ededf0;
  box-shadow: 3px 2px 15px #252525;
  z-index: 2000;
}
.speed-btn-txt {
  border-radius: 5px;
  height: 250px;
  width: 500px;
  text-align: center;
  position: absolute;
  bottom: -1128px;
  left: 322px;
  background: #f1ededf0;
  box-shadow: 3px 2px 15px #252525;
  z-index: 2000;
}
.information-btn-txt {
  border-radius: 5px;
  height: 250px;
  width: 500px;
  text-align: center;
  position: absolute;
  top: 435px;
  left: -410px;
  background: #f1ededf0;
  box-shadow: 3px 2px 15px #252525;
  z-index: 2000;
}

/* random */

/* animation */

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

/*END ROW 2 BUTTONS*/

@media (min-width: 2000px) {
  .flow_chart {
    transform: scale(1.2);
  }
  #messageBox {
    font-size: 25px;
  }
  .menuSteps {
    padding: 20px;
  }
  .accordion_section {
    margin: 3%;
  }
}
@media (max-width: 1440px) {
  .flow_chart {
    transform: scale(0.5);
  }
}
